p {
  color: silver;
  font-size: 5rem;
  text-decoration: underline;
}
.btn {
  background-color: #987259;
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
  color: silver;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  border: 2px solid green;
}
.btn:active {
  background-color: silver;
  color: #987259;
  border-radius: 0 0 10px 10px;
}
